.menu-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.363);
    /* background-color: black; */
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    overflow: hidden;
    
}

.menu {
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: #FFFDE7;
    animation-name: animate-menu;
    animation-duration: 0.3s;
}

@keyframes animate-menu {
    from {right: -100%; opacity: 0}
    to {right: 0; opacity: 1}
}


html, body {
    height: 100%;
    font-family: Georgia;
    background-color: grey;
}

.container {
    max-width: 375px;
    background-color: #FFFDE7;
    margin: 0 auto;
    height: 100%;
    position: relative;
    /* display: flex; */
}

header {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: #EEEFD0;
    color: #597700;
    z-index: 2;
}



#back-arrow {
    font-size: 40px;
    padding-left: 8px;
    /* width: 33%; */
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40px;
    line-height: .7;
    /* width: 34%; */
}

#logo-top {
    font-size: 20px;
    font-family: Elsie;
    color: #597700;
}

#logo-bottom {
   font-size: 35px;
   font-family: 'Segoe UI';
   font-weight: bold;
}

#account-icon {
    font-size: 30px;
    padding-right: 15px;
    /* width: 33%; */
    text-align: right;
}

article {
    width: 100%;
    position: relative;
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    
}

#search-form {
    margin-top: 10px;
}

input[type=text] {
    position: relative;
    padding: 12px 20px 12px 30px;
    width: 150px;
    border: none;
    border-radius: 50px;
    background-color: rgb(241, 241, 241);
    background-image: url('../images/search-icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 2px black;
    
}

input[type=submit] {
    position: relative;
    padding: 12px 20px;
    width: 100px;
    background-color: #f87d73;
    border: none;
    color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 5px #414141;
    transition-property: transform, box-shadow;
    transition-duration: .3s;
}

input[type=submit]:focus {
    outline: none;
}

input[type=submit]:active {
    transform: scale(.95);
    box-shadow: none;
}

#recipe-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    overflow-y: scroll;
}

.recipe-div {
    width: 45%;
    margin: 10px 0px;
    background-color: #EEEFD0;
    color: #597700;
    border-radius: 8px;
    box-shadow: 2px 2px 8px gray;
}

.recipe-div:hover {
    /* background-color: #597700; */
    color: #8b1b1f;
}

.recipe-div img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.recipe-div p {
    margin: 15px 0px;
}



footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #EEEFD0;
}


.recipe-name {
    font-weight: bold;
}





/* scrollbar style */
/* width */
::-webkit-scrollbar {
    width: 4px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f87d73; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c14d47; 
}
/* end scrollbar style */